@import 'normolize'
@import 'elements'
@import 'header'
@import 'doc'

.main
    background-image: url('../img/main.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative
    z-index: 1
    margin-bottom: 80px
    &::after
        content: ''
        display: inline-block
        width: 100%
        height: 100px
        position: absolute
        bottom: -50px
        left: 0
        background-image: url('../img/tile.svg')
        background-repeat: repeat-x
        background-position: bottom center
        background-size: auto 100%

    .container
        padding: 17vh 16px 100px
        min-height: 800px
        height: 100vh
        max-height: 1080px
        z-index: unset

    &__plane,
    picture
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        object-fit: cover
        object-position: center center

    h1
        color: #fff
        max-width: 85%
        text-shadow: 3px 3px 0px $prime, 5px 5px 0px #000000
        margin-bottom: 40px

    &__text
        position: absolute
        top: 50%
        max-width: 32%
        padding: 30px 0 30px 100px
        margin: 0
        // z-index: 111
        color: #fff
        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            width: 74vw
            left: -40%
            height: 100%
            background-color: $prime
            z-index: -1

    .features
        text-align: right
        max-width: 400px
        margin: 0 0 0 auto
        position: absolute
        right: 10%
        bottom: 15%
        z-index: 111
        &-item
            background-color: #fff
            padding: 12px 23px
            display: inline-flex
            justify-content: flex-start
            text-align: left
            align-items: center
            max-width: 320px
            margin: 0
            &:first-child
                position: relative
                right: -40px
                margin: 0 0 20px
                box-shadow: 18px 19px 38px rgba(0, 0, 0, 0.25)

        &__num
            font-family: 'Noto Serif', serif
            font-weight: 700
            color: $prime
            font-size: 78px
            line-height: 110%
            text-transform: uppercase
            margin-right: 17px

        &__heading
            font-weight: 500
            font-size: 16px
            line-height: 150%
            display: block

        &__text
            display: inline-block
            font-size: 14px
            line-height: 130%

        .col
            display: block

        &__box
            font-weight: 300
            font-size: 12px
            line-height: 150%
            display: inline-block
            padding: 3px 10px
            margin-bottom: 3px
            background-color: rgba(0, 0, 0, 0.1)

.about
    .wrap
        align-items: flex-start
        .col
            max-width: 45%
            &:nth-child(2)
                position: relative
                z-index: 1
                &::before
                    content: ''
                    display: inline-block
                    width: 1px
                    height: 70%
                    transform: translateY(-50%)
                    position: absolute
                    top: 50%
                    left: -10%
                    z-index: 1
                    background-color: $second

    &-galery
        max-width: 1920px
        margin: 0 auto
        text-align: center
        display: flex
        justify-content: center
        gap: 1%
        padding: 200px 0 120px
        a
            width: 19%
            display: inline-block
            position: relative
            &:nth-of-type(1)
                top: -60px
            &:nth-of-type(3)
                top: -120px
            &:nth-of-type(4)
                top: -180px
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center center

.teaching
    padding: 130px 0
    position: relative
    z-index: 1
    .bg,
    picture
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        object-position: left center
        pointer-events: none
        object-fit: cover
    .col
        max-width: 55%
        align-items: flex-start
        &:first-child
            color: #fff
            max-width: 38%

        a
            text-decoration: underline
            color: #fff

        .col
            max-width: 49%
            color: #000

    .box
        width: 100%
        padding: 40px 35px 30px
        margin: 0 0 20px
        background-color: #fff
        h3
            font-size: 24px
        p
            display: flex
            align-items: center
            margin: 0 0 10px
            img
                width: 50px
                margin-right: 20px

    form
        max-width: 49%
        background-color: $third !important
        color: #fff
        input
            background-color: transparent
            border-color: #fff
            color: #fff
            &::placeholder
                color: #fff
        .btn
            width: 100%
            margin-bottom: 10px

        .inp-checkbox
            a
                color: #fff !important
            label
                &::before
                    filter: invert(10)

    .item
        display: flex
        margin: 0
        align-items: center
        padding: 12px 10px 
        border-bottom: 1px solid #fff
        img
            width: 90px
            min-width: 90px
            display: inline-block
            margin-right: 20px

        &__num
            min-width: 90px
            width: 90px
            text-align: center
            font-size: 78px
            line-height: 120%
            text-transform: uppercase
            font-weight: bold
            margin-right: 20px
        
        &__text
            font-weight: 600
            i
                font-weight: normal
                font-style: normal
                display: block
                font-size: 14px
                line-height: 140%

.photoshoot
    overflow: hidden
    h2
        text-align: center
        max-width: 520px

    .slider
        overflow: hidden
        position: relative
        &::before,
        &::after
            content: ''
            display: block
            width: 120%
            height: 220px
            position: absolute
            left: -10%
            top: -120px
            z-index: 1
            background-color: #fff
            border-radius: 50%
            pointer-events: none
        &::after
            top: auto
            bottom: -120px

        &-item
            min-width: 500px
            width: 500px
            height: 900px
            max-height: 115vh
            margin: 0 7px
            img
                height: 100%
                width: 100%
                object-fit: cover

    .zone
        width: 330px
        font-size: 16px
        padding: 38px 25px
        border-right: 1px solid rgba(0, 0, 0, .1)
        margin: 0
        &:last-child
            border-right: none

        &-wrap
            align-items: stretch
            justify-content: center
            max-width: 1850px
            margin: 0 auto
            margin-bottom: 70px

        &__headline
            text-align: center
            margin: 0 auto 40px

    .wrap
        .col
            max-width: 58%
            &:first-child
                max-width: 38%
            &.wrap
                align-items: stretch

    form
        width: 49%
        padding: 35px 30px
        background-color: rgba(0, 0, 0, .1)
        h4
            margin-bottom: 14px

        i
            display: block
            font-weight: 400
            font-size: 12px
            line-height: 150%
            margin-bottom: 24px

        &:first-child
            color: #fff
            background-color: $prime
            input
                background-color: transparent
                border-color: #fff
                color: #fff
                &::placeholder
                    color: #fff

            .btn
                margin-bottom: 24px

            i
                margin-bottom: 0

            .inp-checkbox
                a
                    color: #fff !important
                label
                    &::before
                        filter: invert(10)

        .inp-checkbox

.weather
    max-width: 1200px
    margin: 0 auto
    flex-wrap: nowrap
    padding: 50px
    background-image: url('../img/out.jpg')
    background-repeat: no-repeat
    background-position: bottom center
    background-size: cover
    position: relative
    z-index: 1
    color: #fff
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: -1
        background-color: rgba(0, 0, 0, .2)

    img
        max-width: 60px
    h4
        font-size: 28px
        margin: 0
        max-width: 230px
    p
        max-width: 40%
        font-size: 16px
        margin: 0 20px 0 0

.pricing
    overflow: hidden
    &-slider
        padding: 0 !important
        align-items: stretch
        flex-wrap: nowrap
        margin: 40px 0 40px auto

    .slick
        &-list
            padding-left: calc( (100% - 1360px)/2 )
        &-disabled
            display: none !important

    &__text
        padding-right: 20%

    &-item
        display: inline-block
        width: 415px
        min-height: 520px !important
        padding: 120px 44px
        background-color: #FFFFFF
        border: 2px solid #362FD9
        background-image: url('../img/airplane.svg')
        background-repeat: no-repeat
        background-position: top 40px left 40px
        position: relative
        z-index: 1
        margin: 0 10px !important
        .descr
            text-transform: uppercase
            margin: 0 0 8px
            opacity: .5

        .text
            font-size: 14px
            margin: 0

        &__price
            font-weight: 700
            margin: 0
            font-size: 32px
            line-height: 110%
            position: absolute
            bottom: 40px
            right: 40px
            text-align: right

        h3
            font-size: 28px

        &:hover
            background-color: #362FD9
            color: #fff

.agricultural
    overflow: hidden
    padding-bottom: 40px
    min-height: 100vh
    display: flex
    align-items: flex-end
    justify-content: center
    color: #fff
    position: relative
    z-index: 1
    .container
        max-width: 1700px
        width: 98%
        position: static
        align-items: flex-end

    h2
        font-size: 40px
        margin-bottom: 20px

    &__img 
        position: absolute
        top: 0
        left: 0
        z-index: -1
        object-fit: cover
        object-position: top center
        width: 100%
        height: 95%


    .title 
        width: 65%
        padding: 35px 0 40px
        position: relative
        z-index: 1
        margin-bottom: 80px
        &::before
            content: ''
            display: block
            width: 110vw
            height: 100%
            position: absolute
            z-index: -1
            pointer-events: none
            top: 0
            left: 50%
            transform: translateX(-40%)
            background-color: $prime

        &-wrap 
            padding: 30px 0 0
            max-width: 600px
            
        &-item
            margin: 0
            max-width: 32%
            font-size: 16px
            text-align: center
            img 
                display: block
                width: 80px
                margin: 0 auto 10px


    .text
        font-size: 18px
        margin: 0
        font-weight: 400
        position: relative
        z-index: 1
        color: #fff
        margin: 0

    .col 
        width: 450px
        max-width: 30%
        position: relative
        z-index: 111
        top: 40px

    .item 
        padding: 20px 24px
        background-color: #fff
        font-size: 14px 
        width: 100%
        color: #000
        margin: 0 0 10px
        border: 2px solid $prime

@import 'slick'

@media screen and ( max-width: 1500px )
    .main
        .container
            padding-top: 18vh

        &__text
            padding: 30px 15px 30px 40px

    .photoshoot
        .zone
            border-bottom: 1px solid rgba(0, 0, 0, .1)
            &:nth-child(3)
                border-right: none
            &-wrap
                max-width: 1300px

    .agricultural
        h2
            font-size: 32px 
        .item
            font-size: 13px

        .text
            font-size: 16px

@media screen and ( max-width: 1100px )
    .main
        background-size: auto 75%
        background-position: top center
        &::after
            z-index: -1
            bottom: 0
            opacity: .2

        h1
            text-align: center
            max-width: 800px
            margin: 0 auto
            text-shadow: 1px 1px 0px #362fd9, 3px 3px 0px #000000

        .container
            padding-top: 100px
            height: unset
            min-height: 600px

        &__text
            width: 95%
            padding: 40px 40px 70px
            max-width: 550px
            margin: 0 auto
            position: static
            background-color: $prime
            &::before
                display: none

        &__plane, picture
            display: none

        .features
            position: relative
            max-width: 100%
            max-width: 350px
            right: auto
            bottom: auto
            top: -40px
            margin: 0 auto
            text-align: center
            display: flex
            justify-content: space-around
            &-item
                display: inline-block
                vertical-align: top
                max-width: 160px
                margin: 0 !important
                padding: 11px 14px 18px
                position: static !important

            &__num
                font-size: 58px
                margin: 0

            &__heading
                font-size: 14px

            &__text
                font-size: 12px

            &__box
                padding: 2px 8px
                font-size: 10px

    .teaching
        .container
            display: block
            max-width: 720px

        .col
            max-width: 100% !important
            &:first-child
                margin-bottom: 30px

            .col
                margin: 0
                display: flex
                width: 100%
                align-items: stretch
                justify-content: space-between

        .item
            background-color: rgba(0, 0, 0, 0.2)
            backdrop-filter: blur(4px)
            border-bottom: none
            padding: 15px 21px
            margin-bottom: 10px
            max-width: 500px
            &__num
            &__text
                max-width: 300px
                // font-size: 14px

        .box
            width: 49%
            h3
                font-size: 22px

        form
            max-width: 100%

    .photoshoot
        .zone
            border: 1px solid rgba(0, 0, 0, .1) !important
            min-width: 390px
            &-wrap
                overflow-x: scroll
                flex-wrap: nowrap
                gap: 14px
                justify-content: flex-start
                padding: 0 14px 24px

        .container.wrap
            display: block

        .wrap .col
            max-width: 100% !important
            &:first-child
                margin-bottom: 30px

        .slider
            &-item
                height: 700px

    .weather
        display: block
        max-width: 800px
        padding: 100px
        h4,p
            width: 100%
            max-width: 100%
            margin-bottom: 40px
        h4
            margin-bottom: 10px

    .pricing
        &-item
            max-width: 90vw
            margin: 0 6px !important

    .agricultural
        padding-bottom: 0
        .title 
            margin: 0
            width: 100%
            &::before
                width: 100vw
                left: 50%
                transform: translateX(-50%)
        .container 
            display: block
            width: 100%
            

        &__img 
            width: 100vw
            max-width: unset
            position: relative
            left: 50%
            transform: translateX(-50%)
            display: block

        .col 
            top: -80px
            width: 100%
            max-width: 100%
            display: flex
            gap: 15px 2% 
            flex-wrap: wrap

        .item 
            width: 49%

@media screen and ( max-width: 700px )
    .main
        background-image: url('../img/main-mob.jpg')
        background-size: auto 53%
        background-position: top 71px center
        margin-bottom: 20px
        &::before
            content: ''
            display: block
            width: 100%
            height: 71px
            position: absolute
            top: 0
            left: 0
            z-index: -1
            background-color: #76b0d6
        .container
            padding-top: 100px
            min-height: 400px

        &__text
            padding: 30px 20px 60px

        h1
            max-width: 400px
            text-shadow: 1px 1px 0px #362fd9, 2px 2px 0px #000000

    .about
        .wrap
            display: block
            .col
                max-width: 100% !important

        &-galery
            flex-wrap: wrap
            gap: 0
            justify-content: space-between
            padding: 0 10px
            a
                margin-bottom: 10px
                width: 49%
                position: static
                &:last-child
                    width: 100%

    .teaching
        padding: 100px 0 60px
        .col.wrap
            display: block
            .col
                display: block

        .box
            width: 100%
            max-width: 400px
            margin: 0 auto
            border-bottom: 1px solid $prime

        .bg,
        picture
            height: 75%

        form
            border: none

        .item
            &__num,
            img
                width: 75px
                min-width: 75px
                margin-right: 15px

            &__num
                font-size: 68px

            &__text
                font-weight: 500
                i
                    line-height: 125%

    .photoshoot
        padding-bottom: 140px
        .slider
            &::before,
            &::after
                width: 180%
                left: -40%
                top: -50px
                height: 100px

            &::after
                top: auto
                bottom: -50px

            &-item
                min-width: unset
                width: 90vw
                max-height: 88vh
                margin: 0 4px

        .wrap
            .col.wrap
                display: block

        .zone
            min-width: 80vw
            width: 80vw
            font-size: 14px
            padding: 25px 17px
            &-wrap
                margin-bottom: 60px

            &__headline
                margin-bottom: 25px

        form
            width: 100%
            &:first-child
                margin-bottom: 30px

    .weather
        display: block
        max-width: 800px
        padding: 50px 20px

    .pricing
        &-item
            max-width: 90vw
            min-height: 450px !important
            padding: 120px 30px
            margin: 0 6px !important

            h3
                font-size: 22px

            &__price
                right: 30px
                font-size: 24px

        &__text
            padding-right: 16px

    .agricultural
        h2 
            font-size: 22px
            line-height: 150%
            margin-bottom: 10px

        &__img 
            min-width: 600px

        .col 
            gap: 10px 0

        .item
            width: 100%
            margin: 0
            padding: 15px 18px
            border-width: 1px
            

@import 'footer'
